{
  email martinkirov9803@gmail.com
  log {
    output file /data/caddy/access.log {
      roll_size 100mb
      roll_keep 10
      roll_keep_for 168h
    }
    format single_field common_log
  }
  admin off
}

sats.it.com {
  encode gzip zstd
  reverse_proxy app:8000 {
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }

  handle_path /static/* {
    root * /srv/app/app/static
    file_server
  }

  handle /healthz {
    respond "OK" 200
  }

  # Optional caching layer
  route {
    @cacheable {
      path /static/*
    }
    header Cache-Control max-age=86400
  }
}
